.container {
  display: flex;
  flex-direction: column;
}

.search {
  flex-basis: 100%;
}

.button-container {
  flex-basis: 100%;
  display: flex;
  margin: 20px 0;
}

.button-container button {
  padding: 10px 15px;
  border: 1px solid coral;
  border-radius: 3px;
  color: coral;
  background-color: #fff;
  outline: none;
  justify-self: center;
  margin: 0 auto;
  cursor: pointer;
}

.button-container button:hover {
  border-color: #000;
  color: #000;
}